# This is Git's per-user configuration file.
[user]
	name = Wasim Abbas
	email = abbas.wasim@gmail.com

[merge]
	conflictStyle = diff3

[core]
	pager = delta

[color]
	ui = true

[delta]
	navigate = true  # use n and N to move between diff sections
	line-numbers = true
	plus-style = syntax bold "#113e00" #195119"  #002800"
	minus-emph-style = normal bold "#901011"
	plus-emph-style  = syntax bold "#028d02" #006000"
	# minus-style  = normal "#4d0b0b"
	tabs = 4
    light = false

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[interactive]
	diffFilter = delta --color-only

[init]
	defaultBranch = main

[diff]
	colorMoved = false
